* text=auto !eol
privilege-client/.classpath -text
privilege-client/.mymetadata -text
privilege-client/.project -text
privilege-client/.settings/.jsdtscope -text
privilege-client/.settings/com.genuitec.eclipse.j2eedt.core.prefs -text
privilege-client/.settings/org.eclipse.core.resources.prefs -text
privilege-client/.settings/org.eclipse.jdt.core.prefs -text
privilege-client/.settings/org.eclipse.m2e.core.prefs -text
privilege-client/.settings/org.eclipse.wst.common.component -text
privilege-client/.settings/org.eclipse.wst.common.project.facet.core.xml -text
privilege-client/.settings/org.eclipse.wst.jsdt.ui.superType.container -text
privilege-client/.settings/org.eclipse.wst.jsdt.ui.superType.name -text
privilege-client/.settings/org.eclipse.wst.validation.prefs -text
privilege-client/LICENSE -text
privilege-client/README.md -text
privilege-client/others/client_test.txt -text
privilege-client/pom.xml -text
privilege-client/src/main/java/com/andaily/springoauth/infrastructure/httpclient/HttpClientExecutor.java -text
privilege-client/src/main/java/com/andaily/springoauth/infrastructure/httpclient/HttpClientPostExecutor.java -text
privilege-client/src/main/java/com/andaily/springoauth/infrastructure/httpclient/HttpResponseHandler.java -text
privilege-client/src/main/java/com/andaily/springoauth/infrastructure/httpclient/MkkHttpResponse.java -text
privilege-client/src/main/java/com/andaily/springoauth/infrastructure/json/CustomJsonConfigurer.java -text
privilege-client/src/main/java/com/andaily/springoauth/infrastructure/json/JavaPropertySetStrategy.java -text
privilege-client/src/main/java/com/andaily/springoauth/infrastructure/json/JsonUtils.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/AbstractOauthDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/AccessTokenDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/AuthAccessTokenDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/AuthCallbackDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/AuthorizationCodeDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/DirctPayDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/OrderRefund.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/PrivilegeFunctionDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/PrivilegeGroupDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/PrivilegeGroupResourceDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/PrivilegeMenuDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/PrivilegeResourceDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/PrivilegeRoleDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/PrivilegeUserRoleDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/RefreshAccessTokenDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/UnifyPayDto.java -text
privilege-client/src/main/java/com/andaily/springoauth/service/dto/UserSerialRecord.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/AESUtil.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/DESUtil.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/DateTools.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/HMacSha1.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/LoadPopertiesFile.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/MD5.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/PayUtil.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/PropertiesTool.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/StringTools.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/WebUtils.java -text
privilege-client/src/main/java/com/andaily/springoauth/tools/aa.java -text
privilege-client/src/main/java/com/andaily/springoauth/web/AlipayCallbackConfig.java -text
privilege-client/src/main/java/com/andaily/springoauth/web/EhkCallbackConfig.java -text
privilege-client/src/main/java/com/andaily/springoauth/web/PrivilegeInterfaceController.java -text
privilege-client/src/main/java/com/andaily/springoauth/web/PrivilegeRoleController.java -text
privilege-client/src/main/java/com/andaily/springoauth/web/PrivilegeUserController.java -text
privilege-client/src/main/resources/logging.properties -text
privilege-client/src/main/resources/privilege-client.properties -text
privilege-client/src/main/resources/spring/context.xml -text
privilege-client/src/main/webapp/META-INF/MANIFEST.MF -text
privilege-client/src/main/webapp/WEB-INF/decorators.xml -text
privilege-client/src/main/webapp/WEB-INF/jsp/access_token_result.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/authorization_code.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/bind.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/client_credentials.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/code_access_token.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/decorators/main.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/demo/login.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/demo/loginok.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/demo/prepareLogin.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/demo/prepareReg.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/demo/reg.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/demo/regok.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/implicit.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/oauth_error.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/password.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_app_menu_del_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_app_menu_query_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_app_menu_update_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_app_res_del_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_app_res_query_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_app_res_update_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_app_role_del_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_app_role_query_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_function_add.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_function_del.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_function_modify.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_group_add.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_group_del.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_group_del_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_group_modify.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_group_query.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_group_query_test.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_group_update_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_menu_add.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_menu_del.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_menu_modify.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_menu_query.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_resource_add.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_resource_del.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_resource_modify.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_resource_query.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_role_add.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_role_del.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_role_modify.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_role_query.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_user_role_add.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_user_role_del.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_user_role_modify.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_user_role_query.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_user_role_verify.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_userrole_delete_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_userrole_query_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/privilege/privilege_userrole_update_redis.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/refresh_token.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/register.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/resources/user_user_info.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/Copy[!!-~](2)[!!-~]of[!!-~]user_unify_pay.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/Copy[!!-~]of[!!-~]user_unify_pay.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/alipay_order_callback.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/dynamic_login.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/ehk_order_callback.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/order_manual_send.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_account_downlond.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_center_dev_login.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_center_dev_login_callback.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_dirct_pay.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_file_downlond.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_getorder_query.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_order_query.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_order_refund.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_pay_ditch.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_query_orderInfo.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_query_serial.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_unify_costs.jsp -text
privilege-client/src/main/webapp/WEB-INF/jsp/usercenter/user_unify_pay.jsp -text
privilege-client/src/main/webapp/WEB-INF/log4j.xml -text
privilege-client/src/main/webapp/WEB-INF/soc-servlet.xml -text
privilege-client/src/main/webapp/WEB-INF/web.xml -text
privilege-client/src/main/webapp/index.jsp -text
privilege-client/src/main/webapp/js/jquery-1.7.1.min.js -text
privilege-client/src/main/webapp/js/user_register.js -text
privilege-client/src/main/webapp/login.jsp -text
privilege-service/.classpath -text
privilege-service/.mymetadata -text
privilege-service/.project -text
privilege-service/.settings/.jsdtscope -text
privilege-service/.settings/com.genuitec.eclipse.j2eedt.core.prefs -text
privilege-service/.settings/org.eclipse.core.resources.prefs -text
privilege-service/.settings/org.eclipse.jdt.core.prefs -text
privilege-service/.settings/org.eclipse.m2e.core.prefs -text
privilege-service/.settings/org.eclipse.wst.common.component -text
privilege-service/.settings/org.eclipse.wst.common.project.facet.core.xml -text
privilege-service/.settings/org.eclipse.wst.jsdt.ui.superType.container -text
privilege-service/.settings/org.eclipse.wst.jsdt.ui.superType.name -text
privilege-service/pom.xml -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/AppMenuRedisPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/AppResRedisPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/AppRoleRedisPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/FunctionAddPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/FunctionDelPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/FunctionModifyPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/GroupAddPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/GroupDelPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/GroupGetPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/GroupGetPrivilegeControllerTest.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/GroupModifyPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/MenuAddPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/MenuDelPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/MenuGetPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/MenuModifyPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/MenuRedisPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/ResourceAddPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/ResourceDelPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/ResourceGetPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/ResourceModifyPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/RoleAddPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/RoleDelPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/RoleGetPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/RoleModifyPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/UrlRedisPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/UserMenuRedisPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/UserRoleAddPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/UserRoleDelPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/UserRoleGetPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/UserRoleModifyPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/UserRoleRedisPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/api/UserRoleVerifyPrivilegeController.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/constant/ConstantMessage.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/dao/PrivilegeUrl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/dao/ResourceUrl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/dao/ResourceUrlData.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/dao/cache/RedisDao.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/datasource/DataSourceAdvice.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/datasource/DataSourceSwitcher.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/datasource/DynamicDataSource.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/dev/PrivilegeServiceDev.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeFunctionRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeGroupRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeGroupResourceRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeMenuRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeResourceRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeRoleRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeRoleResourceRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeUserRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/PrivilegeUserRoleRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeFunctionRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeGroupRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeGroupResourceRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeMenuRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeResourceRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeRoleRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeRoleResourceRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeUserRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/PrivilegeUserRoleRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/kafka/KafkaConsumer.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/kafka/KafkaProducer.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/AbstractDomain.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/GuidGenerator.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PivilegeToken.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeFunction.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeGroup.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeGroupResource.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeMenu.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeResource.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeRole.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeRoleResource.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeUser.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeUserRole.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/TestPrivilege.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/redis/RedisDataSource.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/redis/impl/RedisClientTemplate.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/redis/impl/RedisConstant.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/redis/impl/RedisDataSourceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeFunctionService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeGroupResourceService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeGroupService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeMenuService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeResourceService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeRoleResourceService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeRoleService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeUrlService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeUserRedisService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeUserRoleService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/PrivilegeUserService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeFunctionServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeGroupResourceServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeGroupServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeMenuServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeResourceServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeRoleResourceServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeRoleServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeUrlServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeUserRedisServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeUserRoleServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/PrivilegeUserServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/AbstractDomain.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/BaseControllerUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/CommonUtils.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/CopyOfHelp_Encrypt.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DBHelp.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DBUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DESUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DateTools.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DateUtils.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/FatherCommon.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/GuidGenerator.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/Help_Encrypt.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/HttpTools.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/MD5.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/MonitorInfo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/MonitorTools.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/NetworkUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/PropertiesTool.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/SerializeUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/StringTool.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/ValidateUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/WebUtils.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/test.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/test1.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/testDemo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeAjaxMessage.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeFunctionVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeGroupResourceVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeGroupVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeMenuVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeResourceVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeRoleVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeUserVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/TestPrivilege.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/web/InitJob.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/web/InitKafkaMessage.java -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeFunctionMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeGroupMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeGroupResourceMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeMenuMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeResourceMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeRoleMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeRoleResourceMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeUserMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/PrivilegeUserRoleMapper.xml -text
privilege-service/src/main/resources/disconf.properties -text
privilege-service/src/main/resources/log4j.properties -text
privilege-service/src/main/resources/logging.properties -text
privilege-service/src/main/resources/mybatis.xml -text
privilege-service/src/main/resources/privilege-service.properties -text
privilege-service/src/main/resources/spring/appCtx-disconf.xml -text
privilege-service/src/main/resources/spring/context.xml -text
privilege-service/src/main/resources/spring/job.xml -text
privilege-service/src/main/resources/spring/transaction.xml -text
privilege-service/src/main/webapp/META-INF/MANIFEST.MF -text
privilege-service/src/main/webapp/WEB-INF/log4j.xml -text
privilege-service/src/main/webapp/WEB-INF/soc-servlet.xml -text
privilege-service/src/main/webapp/WEB-INF/web.xml -text
privilege-service/src/main/webapp/index.jsp -text
privilege-service/src/test/java/cn/com/open/test/GroupTest.java -text
privilege-service/src/test/java/cn/com/open/test/RedisTest.java -text
privilege-service/target/classes/cc/wdcy/infrastructure/mybatis/PrivilegeFunctionMapper.xml -text
privilege-service/target/classes/cc/wdcy/infrastructure/mybatis/PrivilegeMenuMapper.xml -text
privilege-service/target/classes/cc/wdcy/infrastructure/mybatis/PrivilegeResourceMapper.xml -text
privilege-service/target/classes/cc/wdcy/infrastructure/mybatis/PrivilegeRoleResourceMapper.xml -text
privilege-service/target/classes/cc/wdcy/infrastructure/mybatis/PrivilegeUserMapper.xml -text
privilege-service/target/classes/cc/wdcy/infrastructure/mybatis/PrivilegeUserRoleMapper.xml -text
privilege-service/target/classes/disconf.properties -text
privilege-service/target/classes/log4j.properties -text
privilege-service/target/classes/logging.properties -text
privilege-service/target/classes/mybatis.xml -text
privilege-service/target/classes/spring/appCtx-disconf.xml -text
privilege-service/target/classes/spring/context.xml -text
privilege-service/target/classes/spring/job.xml -text
privilege-service/target/classes/spring/transaction.xml -text
