* text=auto !eol
privilege-service/.classpath -text
privilege-service/.mymetadata -text
privilege-service/.project -text
privilege-service/.settings/.jsdtscope -text
privilege-service/.settings/com.genuitec.eclipse.j2eedt.core.prefs -text
privilege-service/.settings/org.eclipse.core.resources.prefs -text
privilege-service/.settings/org.eclipse.jdt.core.prefs -text
privilege-service/.settings/org.eclipse.m2e.core.prefs -text
privilege-service/.settings/org.eclipse.wst.common.component -text
privilege-service/.settings/org.eclipse.wst.common.project.facet.core.xml -text
privilege-service/.settings/org.eclipse.wst.jsdt.ui.superType.container -text
privilege-service/.settings/org.eclipse.wst.jsdt.ui.superType.name -text
privilege-service/pom.xml -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/constant/ConstantMessage.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/datasource/DataSourceAdvice.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/datasource/DataSourceSwitcher.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/datasource/DynamicDataSource.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/dev/UserManagerDev.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/mybatis/UserAccuntBalanceRepositoryMyBatis.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/infrastructure/repository/UserAccountBalanceRepository.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/kafka/KafkaConsumer.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/kafka/KafkaProducer.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeGroup.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeRole.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeRoleResource.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/PrivilegeUser.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/model/TestPrivilege.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/redis/RedisDataSource.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/redis/impl/RedisClientTemplate.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/redis/impl/RedisConstant.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/redis/impl/RedisDataSourceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/UserAccountBalanceService.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/service/impl/UserAccountBalanceServiceImpl.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/AbstractDomain.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/BaseControllerUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/CommonUtils.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/CopyOfHelp_Encrypt.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DBHelp.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DBUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DESUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DateTools.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/DateUtils.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/FatherCommon.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/GuidGenerator.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/Help_Encrypt.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/HttpTools.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/MD5.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/MonitorInfo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/MonitorTools.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/NetworkUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/PropertiesTool.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/SerializeUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/StringTool.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/ValidateUtil.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/WebUtils.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/test.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/test1.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/tools/testDemo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeGroupVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeResourceVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeRoleVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/PrivilegeUserVo.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/vo/TestPrivilege.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/web/DelegatingServletProxy.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/web/InitJob.java -text
privilege-service/src/main/java/cn/com/open/opensass/privilege/web/InitKafkaMessage.java -text
privilege-service/src/main/java/cn/com/open/user/platform/manager/user/model/UserAccountBalance.java -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/MerchantOrderInfoMapper.xml -text
privilege-service/src/main/resources/cc/wdcy/infrastructure/mybatis/UserAccountBalanceMapper.xml -text
privilege-service/src/main/resources/disconf.properties -text
privilege-service/src/main/resources/emailtemplate/activation.html -text
privilege-service/src/main/resources/emailtemplate/resetpassword.html -text
privilege-service/src/main/resources/log4j.properties -text
privilege-service/src/main/resources/logging.properties -text
privilege-service/src/main/resources/mybatis.xml -text
privilege-service/src/main/resources/pay-service-message.properties -text
privilege-service/src/main/resources/spring/appCtx-disconf.xml -text
privilege-service/src/main/resources/spring/context.xml -text
privilege-service/src/main/resources/spring/job.xml -text
privilege-service/src/main/resources/spring/transaction.xml -text
privilege-service/src/main/webapp/META-INF/MANIFEST.MF -text
privilege-service/src/main/webapp/WEB-INF/log4j.xml -text
privilege-service/src/main/webapp/WEB-INF/soc-servlet.xml -text
privilege-service/src/main/webapp/WEB-INF/web.xml -text
privilege-service/target/classes/cc/wdcy/infrastructure/mybatis/MerchantOrderInfoMapper.xml -text
privilege-service/target/classes/cc/wdcy/infrastructure/mybatis/UserAccountBalanceMapper.xml -text
privilege-service/target/classes/disconf.properties -text
privilege-service/target/classes/emailtemplate/activation.html -text
privilege-service/target/classes/emailtemplate/resetpassword.html -text
privilege-service/target/classes/log4j.properties -text
privilege-service/target/classes/logging.properties -text
privilege-service/target/classes/mybatis.xml -text
privilege-service/target/classes/pay-service-message.properties -text
privilege-service/target/classes/spring/appCtx-disconf.xml -text
privilege-service/target/classes/spring/context.xml -text
privilege-service/target/classes/spring/job.xml -text
privilege-service/target/classes/spring/transaction.xml -text
