<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.user.platform.manager.infrastructure.mybatis.PrivilegeRoleRepositoryMyBatis">
	<resultMap type="PrivilegeRole" id="privilegeRoleMap">
		<id column="privilege_roleid" property="privilegeRoleId" jdbcType="VARCHAR" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="dept_id" property="deptId" jdbcType="VARCHAR" />
		<result column="group_id" property="groupId" jdbcType="VARCHAR" />
		<result column="role_level" property="roleLevel" jdbcType="INTEGER" />
		<result column="parent_roleId" property="parentRoleId" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_userid" property="createUserId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<!-- <sql id="Insert_Column_List">
	  USER_ID,
	  USER_NAME,
	  BALANCE,
	  STATUS,
	  TYPE,
	  APP_ID,
	  SOURCE_ID,
	  CREATE_TIME,
	  VERSION
	</sql>
	<sql id="Base_Column_List">
		Id,
		<include refid="Insert_Column_List" />
	</sql>
	<insert id="insert" parameterType="cn.com.open.user.platform.manager.user.model.UserAccountBalance">
		<selectKey resultType="java.lang.String" order="AFTER" keyProperty="id">
		select last_insert_id() as id
		</selectKey>
		insert into USER_ACCOUNT_BALANCE
		(
			<include refid="Insert_Column_List" />
		)
		values 
		(
			#{userId, jdbcType=VARCHAR},
			#{userName, jdbcType=VARCHAR},
			#{balance, jdbcType=DECIMAL},
			#{status, jdbcType=INTEGER},
			#{type, jdbcType=INTEGER},
			#{appId, jdbcType=INTEGER},
			#{sourceId, jdbcType=VARCHAR},
			#{createTime, jdbcType=TIMESTAMP},
			#{version, jdbcType=INTEGER}
			
		)
	</insert> -->
	
	<!-- <select id="findByUserId" resultMap="userAccountBalanceMap">
         select * from USER_ACCOUNT_BALANCE
         where  SOURCE_ID = #{userId}
	</select>
	<select id="getBalanceInfo" resultMap="userAccountBalanceMap">
         select * from USER_ACCOUNT_BALANCE
         where  SOURCE_ID = #{sourceId} 
         and APP_ID= #{appId}
	</select>
	
    <update id="updateBalanceInfo" parameterType="UserAccountBalance" flushCache="true">
        update USER_ACCOUNT_BALANCE set
        <if test="status != null" >
        STATUS=#{status}
        </if>
        where Id = #{id}
    </update> -->
 
	<insert id="savePrivilegeRole" parameterType="PrivilegeRole" useGeneratedKeys="true" keyProperty="privilegeRoleId">
        insert into privilege_role(privilege_roleid,role_name,app_id,dept_id,group_id,group_name,dept_name,role_level,remark,create_user,create_userid,status,create_time)
        values
        (#{privilegeRoleId},#{roleName},#{appId},#{deptId},#{groupId},#{groupName},#{deptName},#{roleLevel},#{remark},#{createUser},#{createUserId},#{status},#{createTime})
    </insert>
</mapper>