<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.opensass.privilege.infrastructure.mybatis.PrivilegeMenuRepositoryMyBatis">
	<resultMap type="PrivilegeMenu" id="privilegeMenuMap">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="id" property="menuId" jdbcType="VARCHAR" />
		<result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_userid" property="createUserId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="menu_rule" property="menuRule" jdbcType="VARCHAR" />
		<result column="menu_level" property="menuLevel" jdbcType="INTEGER" />
		<result column="display_order" property="displayOrder" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="resource_type" property="resourceType" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Insert_Column_List">
	  id,
	  menu_code,
	  menu_name,
	  app_id,
	  create_time,
	  create_user,
	  create_userid,
	  status,
	  menu_rule,
	  menu_level,
	  display_order,
	  parent_id,
	  resource_type
	</sql>
	<select id="findByMenuId" resultMap="privilegeMenuMap" flushCache="true">
         select * from privilege_menu
         where  id = #{menuId}
         and app_id=#{appId}
	</select>
	<select id="findMenuPage" resultMap="privilegeMenuMap" flushCache="true">
         select * from privilege_menu
         where  id = #{menuId} 
         or parent_id=#{menuId}
         and app_id=#{appId}
        
         limit #{startRow},#{pageSize} 
	</select>
    <select id="getMenuById" resultMap="privilegeMenuMap" flushCache="true">
        select * from privilege_menu
        where  id = #{menuId}
    </select>
    <select id="getMenuListByUserId" resultMap="privilegeMenuMap" flushCache="true">
        SELECT e.* FROM privilege_user a,privilege_user_role b,privilege_role_resource c,privilege_resource    d,privilege_menu e
WHERE a.app_userid=#{appUserId}
         and a.app_id=#{appId}
AND a.uid=b.user_id AND b.privilege_roleid=c.privilege_roleid AND c.resource_id=d.resource_id AND d.menu_id=e.id
    </select>
    <update id="updatePrivilegeMenu" parameterType="PrivilegeMenu" flushCache="true">
        update privilege_menu set
        <if test="menuCode != null and menuCode !=''">
        menu_code = #{menuCode},
        </if>
         <if test="menuName != null and menuName !=''" >
        menu_name = #{menuName},
        </if>
         <if test="appId != null and appId !=''" >
        app_id = #{appId},
        </if>
         <if test="menuRule != null and menuRule !=''" >
        menu_rule = #{menuRule},
        </if>
         <if test="menuLevel != null" >
        menu_level = #{menuLevel},
        </if>
         <if test="createTime != null" >
        create_time = #{createTime},
        </if>
         <if test="parentId != null" >
        parent_id = #{parentId},
        </if>
         <if test="displayOrder != null " >
        display_order = #{displayOrder},
        </if>
         <if test="status != null " >
        status = #{status},
        </if>
        create_time=#{createTime}
        where id = #{id}
    </update>
	<insert id="savePrivilegeMenu" parameterType="PrivilegeMenu" flushCache="true">
        insert into privilege_menu
        (id,menu_code,menu_name,app_id,create_time,parent_id,display_order,status,menu_level,menu_rule)
        values
        (#{id},#{menuCode},#{menuName},#{appId},#{createTime},#{parentId},#{displayOrder},#{status},#{menuLevel},#{menuRule})
    </insert>
	 <delete id="deleteByMenuId">
        delete from privilege_menu where id=#{menuId}
    </delete>
</mapper>