<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.opensass.privilege.infrastructure.mybatis.PrivilegeRoleRepositoryMyBatis">
	<resultMap type="PrivilegeRole" id="privilegeRoleMap">
		<id column="privilege_roleid" property="privilegeRoleId" jdbcType="VARCHAR" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="dept_id" property="deptId" jdbcType="VARCHAR" />
		<result column="group_id" property="groupId" jdbcType="VARCHAR" />
		<result column="role_level" property="roleLevel" jdbcType="INTEGER" />
		<result column="role_type" property="roleType" jdbcType="INTEGER" />
		<result column="parent_roleId" property="parentRoleId" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_userid" property="createUserId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="dept_name" property="deptName" jdbcType="VARCHAR" />
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Insert_Column_List">
	  privilege_roleid,
	  role_name,
	  app_id,
	  dept_id,
	  group_id,
	  role_level,
	  role_type,
	  parent_roleId,
	  remark,
	  create_user,
	  create_userid,
	  create_time,
	  dept_name,
	  group_name,
	  status
	</sql>
	
	<select id="findByRoleId" resultMap="privilegeRoleMap" flushCache="true">
         select * from privilege_role
         where  privilege_roleid = #{privilegeRoleId} limit 1
	</select>
	<select id="getRoleListByUserId" resultType="java.util.HashMap" flushCache="true">
		SELECT c.app_id as appId,c.dept_id  as deptId,c.dept_name as deptName,c.group_id as groupId,
		c.group_name as groupName,c.privilege_roleid as privilegeRoleId,c.parent_roleId as parentRoleId,
		c.remark as remark,c.role_level as roleLevel,c.role_name as roleName,c.status as status,
		c.role_type as roleType FROM privilege_user a,privilege_user_role b,privilege_role c
		WHERE a.app_userid=#{appUserId}
         and a.app_id=#{appId}
		AND a.uid=b.user_id AND b.privilege_roleid=c.privilege_roleid 
	</select>
	<select id="getRoleListByUserIdAndAppId" resultMap="privilegeRoleMap" flushCache="true">
		SELECT c.*
		 FROM privilege_user a,privilege_user_role b,privilege_role c
		WHERE a.app_userid=#{appUserId}
         and a.app_id=#{appId}
		AND a.uid=b.user_id AND b.privilege_roleid=c.privilege_roleid 
	</select>
	<select id="getRoleListByAppId" resultMap="privilegeRoleMap" flushCache="true">
	 select * from privilege_role
         where  app_id = #{appId}
	</select>
	<select id="getRoleListByAppIdAndGroupId" resultMap="privilegeRoleMap" flushCache="true">
	 	select * from privilege_role where  app_id = #{appId}
	 	<if test="groupId != null and groupId !=''" >
        	and group_id = #{groupId}
     	</if>
     	<if test="roleType != null and roleType !=''" >
        	and role_type = #{roleType}
     	</if>
     	<if test="roleName != null and roleName !=''" >
        	and role_name = #{roleName}
     	</if>
     	 limit #{start},#{limit}
	</select>
	<select id="getRoleCountByAppIdAndGroupId"  resultType="java.lang.Integer">
		SELECT count(1) from privilege_role where app_id=#{appId} 
		 <if test="groupId != null and groupId !=''" >
        	and group_id = #{groupId}
        </if>
        <if test="roleType != null and roleType !=''" >
        	and role_type = #{roleType}
     	</if>
     	<if test="roleName != null and roleName !=''" >
        	and role_name = #{roleName}
     	</if>
	</select>
	<select id="findRoleByAppId" resultType="java.lang.String" flushCache="true">
		select privilege_roleid from privilege_role where app_id = #{appId}
	</select>
	
	<select id="findRoleByPage" resultMap="privilegeRoleMap" flushCache="true">
		select * from privilege_role 
		where app_id = #{appId}
		<if test="privilegeRoleId!=null and privilegeRoleId!=''">
			and privilege_roleid in (#{privilegeRoleId})
		</if>
		<if test="deptId != null and deptId !=''" >
			and dept_id = #{deptId},
		</if>
		<if test="groupId != null and groupId !=''" >
			and group_id = #{groupId},
		</if>
		limit #{start},#{limit}
	</select>
	
	<select id="findRoleNoPage" resultMap="privilegeRoleMap" flushCache="true">
		select * from privilege_role 
		where app_id = #{appId}
		<if test="privilegeRoleId!=null and privilegeRoleId!=''">
			and privilege_roleid in (#{privilegeRoleId})
		</if>
		<if test="deptId != null and deptId !=''" >
		   	and dept_id = #{deptId},
		</if>
		<if test="groupId != null and groupId !=''" >
			and group_id = #{groupId},
		</if>
	</select>
	
    <update id="updatePrivilegeRole" parameterType="PrivilegeRole" flushCache="true">
        update privilege_role
        <trim prefix="set" suffixOverrides=",">
         <if test="roleName != null and roleName !=''" >
        role_name = #{roleName},
        </if>
         <if test="appId != null and appId !=''" >
        app_id = #{appId},
        </if>
         <if test="deptId != null and deptId !=''" >
        dept_id = #{deptId},
        </if>
         <if test="groupId != null and groupId !=''" >
        group_id = #{groupId},
        </if>
         <if test="roleLevel != null" >
        role_level = #{roleLevel},
        </if>
         <if test="roleType != null" >
        role_type = #{roleType},
        </if>
         <if test="parentRoleId != null and parentRoleId !=''" >
        parent_roleId = #{parentRoleId},
        </if>
         <if test="remark != null and remark !=''" >
        remark = #{remark},
        </if>
         <if test="createUser != null and createUser !=''" >
        create_user = #{createUser},
        </if>
         <if test="createUserId != null and createUserId !=''" >
        create_userid = #{createUserId},
        </if>
         <if test="createTime != null" >
        create_time = #{createTime},
        </if>
         <if test="deptName != null and deptName !=''" >
        dept_name = #{deptName},
        </if>
         <if test="groupName != null and groupName !=''" >
        group_name = #{groupName},
        </if>
         <if test="status != null " >
        status = #{status},
        </if>
        </trim>
        where privilege_roleid = #{privilegeRoleId}
    </update>
 
	<insert id="savePrivilegeRole" parameterType="PrivilegeRole" useGeneratedKeys="true" keyProperty="privilegeRoleId">
        insert into privilege_role (privilege_roleid,role_name,app_id,dept_id,group_id,group_name,dept_name,role_level,role_type,remark,create_user,create_userid,status,create_time)
        values
        (#{privilegeRoleId},#{roleName},#{appId},#{deptId},#{groupId},#{groupName},#{deptName},#{roleLevel},#{roleType},#{remark},#{createUser},#{createUserId},#{status},#{createTime})
    </insert>
    <delete id="delPrivilegeRoleById">
        delete from privilege_role where privilege_roleid=#{privilegeRoleId}
    </delete>
</mapper>