<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.opensass.privilege.infrastructure.mybatis.PrivilegeUserRepositoryMyBatis">
	<resultMap type="PrivilegeUser" id="privilegeUserMap">
		<id column="uid" property="uId" jdbcType="VARCHAR" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="privilege_roleid" property="privilegeRoleId" jdbcType="VARCHAR" />
		<result column="app_userid" property="appUserId" jdbcType="VARCHAR" />
		<result column="app_username" property="appUserName" jdbcType="VARCHAR" />
		<result column="dept_id" property="deptId" jdbcType="VARCHAR" />
		<result column="group_id" property="groupId" jdbcType="VARCHAR" />
		<result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="privilege_funid" property="privilegeFunId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Insert_Column_List">
	  uid,
	  app_id,
	  privilege_roleid,
	  app_userid,
	  app_username,
	  dept_id,
	  group_id,
	  resource_id,
	  create_time,
	  privilege_funid
	</sql>
	
	<select id="findByUid" resultMap="privilegeUserMap" flushCache="true">
         select * from privilege_user
         where  uid = #{uId}
	</select>
	
<!--     <update id="updatePrivilegeRole" parameterType="PrivilegeRole" flushCache="true">
        update privilege_role set
         <if test="roleName != null and roleName !=''" >
        role_name = #{roleName},
        </if>
         <if test="appId != null and appId !=''" >
        app_id = #{appId},
        </if>
         <if test="deptId != null and deptId !=''" >
        dept_id = #{deptId},
        </if>
         <if test="groupId != null and groupId !=''" >
        group_id = #{groupId},
        </if>
         <if test="roleLevel != null" >
        role_level = #{roleLevel},
        </if>
         <if test="roleType != null" >
        role_type = #{roleType},
        </if>
         <if test="parentRoleId != null and parentRoleId !=''" >
        parent_roleId = #{parentRoleId},
        </if>
         <if test="remark != null and remark !=''" >
        remark = #{remark},
        </if>
         <if test="createUser != null and createUser !=''" >
        create_user = #{createUser},
        </if>
         <if test="createUserId != null and createUserId !=''" >
        create_serid = #{createUserId},
        </if>
         <if test="createTime != null" >
        create_time = #{createTime},
        </if>
         <if test="deptName != null and deptName !=''" >
        dept_name = #{deptName},
        </if>
         <if test="groupName != null and groupName !=''" >
        group_name = #{groupName},
        </if>
         <if test="status != null " >
        status = #{status},
        </if>
        where privilege_roleid = #{privilegeRoleId}
    </update> -->
 
	<insert id="savePrivilegeUser" parameterType="PrivilegeUser" useGeneratedKeys="true" keyProperty="uId">
        insert into privilege_user (app_id,privilege_roleid,app_userid,app_username,group_id,dept_id,create_time,resource_id,privilege_funid)
        values
        (#{appId},#{privilegeRoleId},#{appUserId},#{appUserName},#{groupId},#{deptId},#{createTime},#{resourceId},#{privilegeFunId})
    </insert>
    <delete id="delPrivilegeUserById">
        delete from privilege_user where uid=#{uId}
    </delete>
</mapper>