<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.pay.platform.manager.infrastructure.mybatis.OesGroupRepositoryMyBatis">
	<resultMap type="OesGroup" id="oesGroupMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="group_code" property="groupCode" jdbcType="VARCHAR" />
		<result column="group_type_name" property="groupTypeName" jdbcType="VARCHAR" />
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result column="group_type" property="groupType" jdbcType="VARCHAR" />
		<result column="group_logo" property="groupLogo" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Insert_Column_List">
	  id,
	  group_code,
	  group_type_name,
	  group_name,
	  group_type,
	  group_logo
	</sql>
	
	<select id="findByPage" resultMap="oesGroupMap" flushCache="true">
		select * from oes_group where 1=1
		<if test="(groupName != null and groupName !='') and (groupCode ==null or groupCode=='')">
			and group_name=#{groupName}
		</if>
		<if test="(groupName == null or groupName =='') and (groupCode !=null and groupCode!='')">
			and group_code=#{groupCode}
		</if>
		<if test="(groupName != null and groupName !='') and (groupCode !=null and groupCode!='')">
			and (group_code=#{groupCode} or group_name=#{groupName})
		</if>
		limit #{startRow},#{pageSize}
	</select>
	<select id="findAllByPage" resultMap="oesGroupMap" flushCache="true">
		select * from oes_group limit #{startRow},#{pageSize}
	</select>
	<select id="findAll" resultMap="oesGroupMap" flushCache="true">
		select * from oes_group 
	</select>
	
	<select id="findCount" resultType="java.lang.Integer" flushCache="true">
		select count(*) from oes_group where 1=1
		<if test="(groupName != null and groupName !='') and (groupCode ==null or groupCode=='')">
			and group_name=#{groupName}
		</if>
		<if test="(groupName == null or groupName =='') and (groupCode !=null and groupCode!='')">
			and group_code=#{groupCode}
		</if>
		<if test="(groupName != null and groupName !='') and (groupCode !=null and groupCode!='')">
			and (group_code=#{groupCode} or group_name=#{groupName})
		</if>
	</select>
	<select id="findAllCount" resultType="java.lang.Integer" flushCache="true">
		select count(*) from oes_group
	</select>
	
	<select id="findByCode" resultMap="oesGroupMap" flushCache="true">
		select * from oes_group where group_code=#{groupCode}
	</select>
	
	<insert id="saveGroup" parameterType="OesGroup" flushCache="true">
        insert into oes_group
        (group_Code,group_name,group_type_name,group_type)
        values
        (#{groupCode},#{groupName},#{groupTypeName},#{groupType})
    </insert>
    
	<!-- <select id="findByGroupId" resultMap="privilegeGroupMap" flushCache="true">
         select * from privilege_group
         where  group_id = #{groupId}
         and app_id=#{appId}
	</select>
	<select id="findGroupPage" resultMap="privilegeGroupMap" flushCache="true">
         select * from privilege_group
         where  group_id = #{groupId}
         and app_id=#{appId}
         limit #{startRow},#{pageSize} 
	</select>
    <update id="updatePrivilegeGroup" parameterType="PrivilegeGroup" flushCache="true">
        update privilege_group set
        <if test="groupId != null and groupId !=''">
        group_id = #{groupId},
        </if>
         <if test="groupName != null and groupName !=''" >
        group_name = #{groupName},
        </if>
         <if test="appId != null and appId !=''" >
        app_id = #{appId},
        </if>
         <if test="createTime != null" >
        create_time = #{createTime},
        </if>
         <if test="createUser != null and createUser !=''" >
        create_user = #{createUser},
        </if>
         <if test="createUserId != null and createUserId !=''" >
        create_userid = #{createUserId},
        </if>
         <if test="status != null " >
        status = #{status},
        </if>
        where id = #{id}
    </update>
	<insert id="savePrivilegeGroup" parameterType="PrivilegeGroup" flushCache="true">
        insert into privilege_group
        (id,group_id,group_name,app_id,create_time,create_user,create_userid,status)
        values
        (#{id},#{groupId},#{groupName},#{appId},#{createTime},#{createUser},#{createUserId},#{status})
    </insert> -->
	
</mapper>