<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.pay.platform.manager.infrastructure.mybatis.OesLatestVisitRepositoryMyBatis">
	<resultMap type="OesLatestVisit" id="OesLatestVisitMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="menu_id" property="menuId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Insert_Column_List">
	  id,
	  user_id,
	  menu_name,
	  menu_id,
	  create_time
	</sql>
	
	
	<insert id="saveOesLatestVisit" parameterType="OesLatestVisit" flushCache="true">
        insert into oes_latest_visit
        (id,user_id,menu_name,menu_id,create_time)
        values
        (#{id},#{userId},#{menuName},#{menuId},#{createTime})
    </insert>
    <select id="getOesLastVisitByUserId" resultMap="OesLatestVisitMap" flushCache="true">
    	SELECT t.* FROM  oes_latest_visit t WHERE NOT EXISTS 
 		(SELECT 1 FROM (SELECT menu_id,create_time FROM oes_latest_visit  WHERE user_id=#{userId}) s 
 		WHERE t.menu_id=s.menu_id AND t.create_time &lt; s.create_time) AND t.user_id=#{userId}
 		ORDER BY t.create_time DESC LIMIT #{startRow},#{pageSize}
    </select>
	
</mapper>