<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.pay.platform.manager.infrastructure.mybatis.OesUserRepositoryMyBatis">
	<resultMap type="OesUser" id="userMap">
		<id property="id" column="Id"  jdbcType="INTEGER" />
		<result property="groupId" column="group_id" jdbcType="VARCHAR"/>
		<result property="userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="userId" column="user_id" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Column_List">
		Id,
		group_id,
		user_name,
		user_id
	</sql>
	<select id="getUserListByPage" resultType="java.util.HashMap" flushCache="true">
		SELECT og.group_name as groupName,ou.Id as Id,ou.group_id as groupId,ou.user_name as userName,
		ou.user_id as userId FROM oes_user ou,oes_group og 
		WHERE ou.group_id=og.group_code
		<if test="groupId != null and groupId !='' " >
        	and og.group_code=#{groupId}
     	</if>
     	<if test="userName != null and userName !='' " >
        	and ou.user_name=#{userName}
     	</if>
     	limit #{start},#{limit}
	</select>
	<select id="getUserCount"  resultType="java.lang.Integer"  flushCache="true">
		SELECT count(1) from oes_user where 1=1
		 <if test="groupId != null and groupId !=''" >
        	and group_id = #{groupId}
        </if>
        <if test="userName != null and userName !='' " >
        	and user_name=#{userName}
     	</if>
	</select>
	<insert id="saveUser" parameterType="OesUser"  flushCache="true">
		 insert into oes_user
        (group_id,user_name,user_id)
        values
        (#{groupId},#{userName},#{userId})
	</insert>
	<delete id="deleteUser" flushCache="true">
		delete from oes_user where Id=#{Id}
	</delete>
	
</mapper>