<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="PrivilegeGroup" type="cn.com.open.opensass.privilege.model.PrivilegeGroup"/>
        <typeAlias alias="PrivilegeGroupResource" type="cn.com.open.opensass.privilege.model.PrivilegeGroupResource"/>
        <typeAlias alias="PrivilegeRole" type="cn.com.open.opensass.privilege.model.PrivilegeRole"/>
    </typeAliases>

    <mappers>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeGroupMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeGroupResourceMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeRoleMapper.xml"/>
    </mappers>

</configuration>