<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 打印查询语句 -->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
         <!-- <setting name="callSettersOnNulls" value="true"/> -->
    </settings>
    <typeAliases>
        <typeAlias alias="PrivilegeGroup" type="cn.com.open.opensass.privilege.model.PrivilegeGroup"/>
        <typeAlias alias="PrivilegeGroupResource" type="cn.com.open.opensass.privilege.model.PrivilegeGroupResource"/>
        <typeAlias alias="PrivilegeRole" type="cn.com.open.opensass.privilege.model.PrivilegeRole"/>
        <typeAlias alias="PrivilegeRoleResource" type="cn.com.open.opensass.privilege.model.PrivilegeRoleResource"/>
        <typeAlias alias="PrivilegeMenu" type="cn.com.open.opensass.privilege.model.PrivilegeMenu"/>
        <typeAlias alias="PrivilegeUser" type="cn.com.open.opensass.privilege.model.PrivilegeUser"/>
        <typeAlias alias="PrivilegeUserRole" type="cn.com.open.opensass.privilege.model.PrivilegeUserRole"/>
         <typeAlias alias="PrivilegeResource" type="cn.com.open.opensass.privilege.model.PrivilegeResource"/>
        <typeAlias alias="PrivilegeFunction" type="cn.com.open.opensass.privilege.model.PrivilegeFunction"/>
         <typeAlias alias="App" type="cn.com.open.opensass.privilege.model.App"/>
         <typeAlias alias="PrivilegeOperation" type="cn.com.open.opensass.privilege.model.PrivilegeOperation"/>
    </typeAliases>
    <mappers>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeGroupMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeGroupResourceMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeRoleMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeRoleResourceMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeMenuMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeUserMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeUserRoleMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeResourceMapper.xml"/>
       <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeFunctionMapper.xml"/> 
         <mapper resource="cc/wdcy/infrastructure/mybatis/AppMapper.xml"/> 
         <mapper resource="cc/wdcy/infrastructure/mybatis/PrivilegeOperationMapper.xml"/> 
    </mappers>

</configuration>